<% settings = RtwProjectSetting.settings_for_project(@project) %>

<%=
  form_for @project,
    :url => {:action => 'rtw_project_settings', :id => @project},
    :html => {:id => 'rtw_project_settings-form', :method => :post} do |f|
%>

  <%= hidden_field_tag 'settings[project_id]', @project.id %>
  <%= render :partial => 'shared/redmine_timewatch_settings', :locals => {:settings => settings} %>

  <p>
    <%= submit_tag l(:button_save) %>
    <%= submit_tag l(:button_reset), :name => :reset, :style => 'margin-left: 20px;' %>
  </p>

<% end %>

